.go-back-btn {
  margin: 30px;
  color: #1677ff;
}

.go-back-btn a {
  color: #1677ff;
}

.go-back-btn a:hover {
  color: #4096ff;
}

.form-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-tag > div:first-child {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
.welcome-tag > div:nth-child(2) {
  font-size: 16px;
  color: #aaa;
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  width: 400px;
  margin: 20px auto;
}

.login-form input {
  padding: 4px 8px !important;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.separator > div:nth-child(2) {
  margin: 0 10px;
}

.separator > div:first-child,
.separator > div:last-child {
  width: 100px;
  height: 1px;
  background: #ccc;
}

.social-media-login {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  margin-bottom: 30px;
}

.social-media-login > a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.social-media-login > a:hover {
  color: #1677ff;
  border-color: #1677ff;
}

.social-media-login > a > img {
  width: 20px;
}

.loader {
  position: absolute;
  top: 5.5px;
  right: 80px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top: 3px solid #1677ff;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
