@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
}

/* 
Primary Color:

Logo Color: #1072BB
Complementary Colors:

Accent Color 1: #BB1072
Accent Color 2: #72BB10
Neutrals:

Neutral Color 1: #333333
Neutral Color 2: #CCCCCC
*/
