.profile-container {
  max-width: 1196px;
  margin: 30px auto;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_wrapper > img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
}

.user-info-tag {
  margin-left: 50px;
  color: #333;
}

.user-info-tag > h2 {
  margin-bottom: 5px;
}

.contact-info-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 940px;
}
