.widget {
  max-width: 1196px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget-left {
  align-self: flex-start;
  width: 256px;
  position: sticky;
  position: -webkit-sticky;
  top: 124px;
}

.category_header {
  font-size: 20px;
  color: #ccc;
  font-weight: 500;
  margin: 50px 0 15px 0;
}

.category_name {
  margin: 5px 0;
  cursor: pointer;
  color: #333;
}

.category_name.active {
  color: #1072bb;
  font-weight: 500;
}

.category_name:hover {
  color: #1072bb;
}

.widget-right {
  flex-grow: 1;
}

.no-data-found-img-container {
  text-align: center;
}
