.cart-items-container {
  max-width: 1196px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.items-wrapper {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart-item-wrapper {
  display: flex;
}

.product-img-cont > img {
  width: 150px;
  border-radius: 4px;
}

.product-img-cont {
  margin-right: 15px;
}

.item-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.cart-card-header {
  display: flex;
  justify-content: space-between;
}

.product-header-left > div:first-child {
  font-size: 20px;
  font-weight: 500;
}

.product-header-left > div:last-child {
  color: #1072bb;
  font-size: 14px;
  margin-top: 5px;
}

.cart-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Cart btns */
.prod-add-to-cart {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.prod-cart-num-handles {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px 20px;
  color: #333;
}

.cart-minus,
.cart-plus {
  cursor: pointer;
}

.delete_btn {
  color: #bb1072;
  border-color: #bb1072;
}

.delete_btn:hover {
  color: #fff !important;
  border-color: #bb1072 !important;
  background: #bb1072;
}

.cart-number-item {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin: 0 5px;
}

.add-to-cart-btn-wrap > button {
  width: 120px;
  height: 100%;
  border-color: #333;
  border-radius: 4px;
}

.item-price {
  color: #bb1072;
  font-weight: 500;
  font-size: 20px;
}

.total-bill-wrapper {
  flex: 5;
  max-width: 400px;
  box-sizing: border-box;
  padding: 0 40px;
  align-self: flex-start;
  position: sticky;
  top: 110px;
}

.checkout-header {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.number-of-items,
.total-amount,
.fixed-discount,
.grand-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.number-of-items > span:first-child,
.total-amount > span:first-child,
.fixed-discount > span:first-child {
  font-weight: 500;
  color: #333;
}

.grand-total {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #333;
}

.grand-total > span:last-child {
  color: #bb1072;
}

.checkout-btn-wrapper {
  margin: 10px 0;
  margin-top: 20px;
}

.checkout-btn-wrapper > button {
  width: 100%;
  background: #1072bb;
}

/* Shipping form css */
.shipping-form-section {
  max-width: 1196px;
  margin: 30px auto;
}

.shipping_header {
  margin: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.ship-form-container {
  max-width: 700px;
  margin: 0 auto;
}

/* Confirm order */
.confirm-order-container {
  max-width: 1196px;
  margin: 30px auto;
}

.confirm-order-product-ship-bills-wrapper {
  display: flex;
  margin: 40px 0;
  flex-wrap: wrap;
}

.products-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 6;
  margin-right: 30px;
}

.address-plus-bill-wrapper {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: flex-start;
  position: sticky;
  top: 120px;
}

.shipping-info-card,
.billing-info-card {
  background: #f9f9f9;
  padding: 20px 30px;
  border-radius: 10px;
}

.shippingInfoHeaderTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shippingInfoHeaderTag > h2 {
  color: #333;
  margin-bottom: 12px;
  font-size: 20px;
}

.user-detail-info {
  margin: 8px 0;
}

.user-detail-info > span:first-child {
  margin-right: 10px;
}

.bill-total-det {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 5px 0;
}

.grand-total-amt {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
}

.grand-total-amt > span:last-child {
  color: #bb1072;
}

.procceed-to-pay {
  text-align: center;
  margin-top: 15px;
}

/* Card Payment Styles */
.payment_card_section {
  max-width: 1196px;
  margin: 30px auto;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.card_wrapper > h2 {
  margin-bottom: 16px;
}

/* Order placed successfully */
.order_successful_section {
  max-width: 1196px;
  margin: 50px auto;
}

.order_success_card {
  max-width: 500px;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); */
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.order_success_card > h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.order_success_card > img {
  width: 400px;
}

/* My orders will go here */
.my-orders-container {
  max-width: 1196px;
  margin: 30px auto;
}

.my-orders-container > h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

/* Order Details Section */
.order-details-sec-container {
  max-width: 1196px;
  margin: 30px auto;
}

.order_detail_heading {
  margin-bottom: 32px;
}

.user-info-order-info-contain {
  display: flex;
}

.order_detail_heading > h2 {
  color: #333;
  font-size: 20px;
}

.order-info-contain {
  margin-right: 40px;
  flex: 7;
}

.user-info-contain {
  flex: 5;
  align-self: flex-start;
  position: sticky;
  top: 120px;
}

.order-payment-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-status {
  font-weight: 500;
  color: #333;
}

.order-status > span:first-child {
  margin-right: 10px;
}

.color-red {
  color: #bb1072;
  text-transform: uppercase;
}

.color-green {
  color: #72bb10;
  text-transform: uppercase;
}

.order-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.order-prod-img > img {
  width: 100px;
  border-radius: 6px;
}

.order-prod-name {
  width: 360px;
}

.order-prod-name > a {
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.order-prod-name > a:hover {
  color: #1072bb;
}

.order-prod-price {
  color: #72bb10;
  font-size: 18px;
  font-weight: 500;
}

.submit-review-btn {
  position: absolute;
  bottom: 15px;
  right: 25px;
  color: #1072bb;
  font-weight: 500;
  cursor: pointer;
}
