/* Loader */
.loader-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #1072bb;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchDelay 1.2s infinite ease-in-out;
  animation: stretchDelay 1.2s infinite ease-in-out;
  margin: 0 1.5px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchDelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* img-loader */
.img_container {
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ccc;
  border-top-color: #1072bb;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Navbar */
.nav-container {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.04));
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.04));
  background-color: #fcfcfc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
}

.navbar {
  max-width: 1196px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
}

.nav_left > a > img {
  width: 60px;
}

.nav_center input {
  width: 300px;
  padding: 3px 5px !important;
  color: #1072bb;
}

.search_default_color {
  color: #1072bb;
}

.color_toggle {
  color: #ccc !important;
}

.nav_right > a {
  color: #1072bb;
}

.nav_right > a:not(:last-child) {
  margin-right: 40px;
}

.nav_right > a:hover {
  color: #bb1072;
}

.nav_right_icon {
  margin-left: 10px;
}

.cart_items {
  margin-left: 5px;
}

.profile_wrapper {
  display: inline-block;
  cursor: pointer;
}

.profile_wrapper:hover {
  color: #bb1072;
}

.user-img-container {
  margin-right: 10px;
  vertical-align: middle;
}

.user-img-container > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: contain;
}

.dropdown {
  position: absolute;
  top: 85px;
  right: 140px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}

.dropdown > div::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 84%;
  transform: translateX(-84%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #f0f0f0;
}

.dropdown > div {
  margin: 8px 20px;
}

.dropdown a {
  color: #1072bb;
}

.dropdown a:hover {
  color: #bb1072;
}

/* Product cards styles goes here */
.product-card {
  flex-basis: 270px;
  max-width: 270px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

.img_container > img {
  width: 100%;
  border-radius: 4px;
}

.category {
  color: #1072bb;
  margin: 4px 0;
}

.title {
  color: #333;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.price-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price_value {
  font-weight: 500;
  color: #bb1072;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.star-icon-cont span {
  color: #1072bb;
}

.people-rated {
  padding-left: 10px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
}

/* Pagination */
.pagination_container {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

.pagination_container > div {
  cursor: pointer;
}

.pagination_container > div:not(:last-child) {
  margin: 0 10px;
}

.active {
  color: #4b8bec;
}

/* Information store card */
.info-card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}

.left-view-info {
  margin-right: 20px;
}

.left-view-info > div:first-child {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.left-view-info > div:last-child {
  color: #777;
}

.right-view-info {
  color: #1072bb;
}

.edit-info {
  position: absolute;
  bottom: 15px;
  right: 23px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: none;
  padding: 5px;
  cursor: pointer;
}

.info-card:hover .edit-info {
  display: block;
}

/* Footer */
.footer_section {
  background: #f8f8f8;
  text-align: center;
  padding: 30px 0;
}

.footer_section > h2,
.footer_section > p {
  margin-bottom: 5px;
  color: #333;
}

.last-row-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.last-row-wrapper > div {
  flex-basis: 0;
  flex-grow: 1;
}

.social-link-wrapper > a:not(:last-child) {
  margin-right: 20px;
}

.social-link-wrapper > a {
  color: #333;
}

.social-link-wrapper > a:hover {
  color: #1072bb;
}
