/* Sidebar */
.sidebar-container {
  position: fixed;
  top: 84px;
  width: 200px;
  padding: 20px 30px;
  box-sizing: border-box;
  height: 100%;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  background-color: #fcfcfc;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.item-info-wrapper {
  display: flex;
  margin: 20px 0;
  color: #333;
  font-size: 18px;
}

.item-info-wrapper:hover {
  font-weight: 500;
  color: #1072bb;
}

.menu-active {
  color: #1072bb;
  font-weight: 500;
}

.menu-icon {
  margin-right: 10px;
}

.admin-container {
  width: 1072px;
  position: relative;
  top: 30px;
  padding: 30px;
  padding-bottom: 40px;
  left: 230px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  background-color: #fff;
}

/* Dashboard Page */
.dashboard-section {
  color: #333;
}

.total-amt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 130px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  background-color: #fff;
}

.total-amt-container > div:first-child {
  margin-bottom: 8px;
}

.details-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.details-card {
  width: 238px;
  height: 180px;
  box-sizing: border-box;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.06));
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-amt-container,
.card-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.total-amt-container {
  margin-bottom: 30px;
}

.card-total-items {
  font-weight: 500;
  font-size: 20px;
}

.hr-line {
  width: 100%;
  height: 1px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  margin: 10px 0;
  margin-bottom: 25px;
}

/* Show all Products */
.all-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.all-products-header > div:first-child {
  font-weight: 500;
  font-size: 20px;
}

.all-products-header > div:last-child > a {
  color: #bb1072;
}

.table-container {
  margin-top: 30px;
}

/* Create New Product */
.new_product_create_header {
  margin-bottom: 40px;
}

.new-product-form-cont {
  margin: 0 auto;
}

/* Admin Orders Table */
.order_admin_table_section > h2 {
  margin-bottom: 25px;
}

/* Admin process order */
.hr-line-payment-status {
  height: 1px;
  background: #ededed;
  margin: 30px 0;
  margin-bottom: 20px;
}

#order-prod-name-len {
  width: 300px;
}

.order-status-stripe-id {
  margin: 10px 0;
  margin-top: 15px;
}

.order-status-stripe-id > span:last-child {
  color: #333;
  font-weight: 400;
}

/* User Details */
.user-email-other-info {
  max-width: 500px;
  margin: 0 auto;
}

.user-email-other-info > h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Universal classes */
.hidden {
  display: none;
}
